.search-form {
    margin-left: auto;
    display: flex;
    align-items: center;

    .search-submit {
        display: none;
    }

    .search-field {
        border-radius: 999rem;
        border: 0;
        background-color: var(--coffin-background-gray);
        font-size: 12px;
        padding: 6px 25px;
        line-height: 1.8;
        width: 240px;
        color: var(--coffin-text-gray);

        &:focus {
            outline: none;
            color: var(--coffin-text-color);
        }
    }
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.grap--figure,
figure {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    .wp-caption,
    .imageCaption {
        font-size: 14px;
        color: var(--coffin-text-gray-lightest);
        text-align: center;
        padding-top: 5px;
    }
}

.comment-form {
    label {
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
        cursor: pointer;
    }

    .comment-form-cookies-consent {
        #wp-comment-cookies-consent {
            display: none;
        }

        label {
            font-size: 14px;
            color: var(--coffin-text-gray);
            display: flex;
            align-items: center;
            position: relative;
            font-weight: normal;

            &::before {
                background-color: var(--coffin-background-white);
                border: 1px solid var(--coffin-main-color);
                border-radius: 100%;
                height: 16px;
                margin-right: 6px;
                vertical-align: middle;
                width: 16px;
                content: '';
                flex: 0 0 auto;
            }
        }

        input:checked + label {
            &::after {
                background-color: var(--coffin-main-color);
                border-radius: 100%;
                content: '';
                position: absolute;
                left: 1px;
                height: 12px;
                margin: 2px;
                width: 12px;
                flex: 0 0 auto;
            }
        }
    }

    p {
        margin-bottom: 15px;
    }

    input[type='email'],
    input[type='text'],
    input[type='url'] {
        width: 300px;
        border-radius: 5px;
        border: 1px solid var(--coffin-border-color-light);
        line-height: 28px;
        padding-left: 10px;
        padding-right: 10px;
        color: var(--coffin-text-gray);
        background-color: var(--coffin-background-white);
        font-size: 14px;

        &:focus {
            border-color: var(--coffin-main-color);
        }
    }

    textarea {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        resize: none;
        background-color: var(--coffin-background-white);
        border: 1px solid var(--coffin-border-color-light);
        border-radius: 5px;
        color: var(--coffin-text-gray);
        transition: border-color 0.3s;
        font-size: 14px;

        &:focus {
            border-color: var(--coffin-main-color);
        }
    }

    .submit {
        background-color: var(--coffin-main-color);
        color: #fff;
        font-size: 14px;
        padding: 8px 25px;
        border: 1px solid var(--coffin-main-color);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: var(--coffin-hover-color);
            border-color: var(--coffin-hover-color);
        }
    }
}

.comment-respond {
    padding-top: 40px;
    padding-bottom: 40px;
}

.logged-in-as {
    font-size: 12px;
    color: var(--coffin-text-gray);
}

.comment-reply-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--coffin-text-gray);
    display: flex;
    align-items: center;

    small {
        margin-left: auto;
    }
}

.required {
    color: #c00;
}

.comment-notes {
    font-size: 12px;
}
