.cArticle {
    padding-top: 50px;

    &--header {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .flag {
            width: 32px;
            height: 32px;
            margin-bottom: 10px;
        }
    }

    &--title {
        font-size: 34px;
        line-height: 1.4;
        font-weight: 700;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    &--meta {
        font-size: 14px;
        color: var(--coffin-text-gray-lightest);
        text-transform: uppercase;

        a {
            &:hover {
                color: var(--coffin-text-color);
                text-decoration: underline;
            }
        }
    }

    &--toc {
        background-color: var(--coffin-background-gray-light);
        padding: 12px 15px;
        border-radius: 10px;
        font-size: var(--coffin-text-size-small);
        margin-bottom: 15px;
        color: var(--coffin-text-light);
        line-height: 1.5 !important;

        summary {
            cursor: pointer;
        }

        ul {
            margin-bottom: 0 !important;

            li {
                margin-bottom: 0 !important;
                margin-left: 10px !important;

                &::before {
                    padding-right: 6px !important;
                }
            }
        }

        a {
            box-shadow: none !important;
            text-decoration: none;

            &:hover {
                color: var(--coffin-hover-color);
            }
        }
    }

    &--action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .button--like {
            svg {
                fill: var(--coffin-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--coffin-hover-color);
                }
            }
        }
    }

    &--content {
        min-height: 300px;
        padding-bottom: 15px;
    }

    &--tags {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            background-color: var(--coffin-background-gray);
            color: var(--coffin-text-gray);
            font-size: 13px;
            border-radius: 6px;
            margin-right: 10px;
            padding: 3px 15px;

            &:hover {
                background-color: var(--coffin-background-gray-light);
            }
        }
    }

    &--share {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        font-size: 14px;
        color: var(--coffin-text-gray);
        line-height: 1.2;

        svg {
            height: 16px;
            width: 16px;
            fill: var(--coffin-text-gray);
            margin-right: 4px;
            flex: 0 0 auto;
        }

        .text {
            flex: 0 0 auto;
        }

        .link {
            margin-left: 5px;
            border-bottom: 1px dotted;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & + .authorCard {
            margin-top: 20px;
        }
    }
}

.authorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    border-top: 1px solid var(--coffin-border-color-light);
    padding: 50px 0;

    @media (max-width: 768px) {
        padding: 25px 0;
    }

    .avatar {
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAwIi8+PC9zdmc+);
    }

    &--imageWrapper {
        display: flex;
    }

    &--content {
        text-align: center;
        padding-bottom: 5px;
    }

    &--title {
        font-weight: bold;

        &:hover {
            color: var(--coffin-hover-color);
        }
    }

    &--description {
        margin-top: 5px;
        font-size: 14px;
        color: var(--coffin-text-gray);
    }

    &--icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        padding-bottom: 10px;

        .is-singleColumn &,
        .page-template-template-map &,
        .page-template-template-wide & {
            justify-content: center;
        }

        a {
            margin: 0 0 0 12px;
            display: flex;

            &:first-child {
                margin-left: 0;
            }
        }

        svg {
            fill: var(--coffin-text-color);
            width: 24px;
            height: 24px;

            &:hover {
                fill: var(--coffin-hover-color);
            }

            &.sns {
                fill: none;
                stroke: var(--coffin-text-color);

                &:hover {
                    stroke: var(--coffin-hover-color);
                    fill: none;
                }
            }
        }
    }
}

.u-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &.is-active {
        svg {
            fill: var(--coffin-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }
}
