.sandraList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
    padding-top: 50px;
    padding-bottom: 50px;
    & + .pagination {
        padding-top: 0px;
    }
}

@media (max-width: 1024px) {
    .sandraList {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}

@media (max-width: 600px) {
    .sandraList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

.sandraItem {
    position: relative;
    background-color: var(--coffin-background-white);
    transition: 0.5s transform;
    overflow: hidden;
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    // border-radius: 5px;
    .flag {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    &:hover {
        transform: translate3d(0, -6px, 0);
    }

    &-image {
        position: relative;
        a {
            display: block;
            height: 240px;
            background-size: cover;
            background-position: 50%;
            position: relative;
        }

        img {
            display: block;
            border-radius: 3px 3px 0 0;
            height: 240px;
            width: 100%;
            object-fit: cover;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--coffin-main-color);
            font-size: 40px;
        }
    }

    &--content {
        padding: 15px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &-info {
        color: var(--coffin-text-gray-lightest);
        font-size: 14px;
        padding-top: 5px;
        margin-top: auto;
        a {
            &:hover {
                text-decoration: underline;
                color: var(--coffin-text-color);
            }
        }
    }

    &-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        &:hover {
            color: var(--coffin-hover-color);
        }
    }
}

.sandraItem--full {
    .sandraItem--content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.33);
        color: hsla(0, 0%, 100%, 0.97);
        height: auto;
        z-index: 2;
    }

    .sandraItem-info {
        color: hsla(0, 0%, 100%, 0.97);
        a {
            &:hover {
                color: var(--coffin-hover-color);
            }
        }
    }

    .sandraItem-image {
        height: 100%;
        a {
            height: 100%;
        }
    }
}
