.grap {
    ol,
    ul {
        margin-bottom: 15px;
        padding-left: 20px;
    }

    p {
        margin-bottom: 15px;
    }

    blockquote {
        margin: 0px 0 15px;
        padding: 20px;
        background-color: var(--coffin-background-gray-light);
        border-left: 4px solid var(--coffin-main-color);
        color: var(--coffin-text-gray);
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    a {
        text-decoration: underline;
        .svgIcon {
            margin-right: 4px;
        }
    }

    li {
        margin-left: 30px;
        margin-bottom: 8px;
        padding-top: 2px;
        &:before {
            content: '•';
            box-sizing: border-box;
            font-size: 14px;
            margin-left: -58px;
            padding-right: 15px;
            display: inline-block;
            text-align: right;
            width: 58px;
            // color: var(--coffin-main-color);
        }
    }

    h3 {
        color: var(--coffin-text-gray-lightest);
        font-size: 20px;
    }

    h3,
    h4 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h4 {
        color: var(--coffin-text-gray);
        font-size: 18px;
    }

    hr {
        margin-top: 52px;
        margin-bottom: 42px;
        display: block;
        border: 0;
        text-align: center;
        &:before {
            content: '...';
            display: inline-block;
            margin-left: 0.6em;
            color: var(--coffin-text-gray);
            position: relative;
            top: -30px;
            font-size: 28px;
            letter-spacing: 0.6em;
        }
    }

    ol {
        counter-reset: a;
        & > li {
            &::before {
                content: counter(a, decimal) '.';
                counter-increment: a;
                padding-right: 12px;
            }
        }
    }

    code {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 14px;
        background-color: var(--coffin-background-gray-light);
        padding: 2px 6px;
        border-radius: 3px;
    }

    pre {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 14px;
        background-color: var(--coffin-background-gray-light);
        padding: 20px;
        border-radius: 3px;
        overflow-x: auto;
    }

    &--figure {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .imageCaption {
            font-size: 14px;
            color: var(--coffin-text-gray-lightest);
            text-align: center;
            padding-top: 5px;
        }
    }

    img {
        border-radius: 5px;
    }
}

.mixtapeImage {
    float: right;
    width: 160px;
    height: 160px;
    margin: -24px -24px -24px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.graf--mixtapeEmbed {
    position: relative;
    overflow: hidden;
    max-height: 280px;
    padding: 24px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin: 20px 0;

    a {
        text-decoration: none !important;
    }

    &-strong {
        color: rgba(0, 0, 0, 0.8);
        display: block;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.2;
    }
}

.markup--em {
    display: block;
    font-size: 14px;
    font-style: normal !important;
}

.markup--meta {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 640px) {
    .graf--mixtapeEmbed {
        padding: 12px;
    }

    .mixtapeImage {
        display: none;
    }
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
