.metabar {
    background-color: var(--coffin-background-white);
    position: relative;
    border-bottom: 1px solid var(--coffin-border-color-light);

    &--inner {
        height: 72px;
        display: flex;
        align-items: center;
    }
}

.subnav-ul {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .menu-item {
        color: var(--coffin-text-gray);
        font-size: 14px;
        margin-left: 20px;

        &.current-menu-item,
        &:hover {
            color: var(--coffin-hover-color);
        }
    }

    @media (max-width: 768px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-left: 0;
        padding: 10px;
        justify-content: center;

        .menu-item {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.sub-menu {
    display: none;
}

.site-title {
    line-height: 1;
}

.logo {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        color: var(--coffin-hover-color);
    }

    &--rounded {
        border-radius: 100%;
    }
}
