.metabar {
    background-color: var(--coffin-background-white);
    position: relative;
    border-bottom: 1px solid var(--coffin-border-color-light);
    &--inner {
        height: 72px;
        display: flex;
        align-items: center;
    }
}

.subnav-ul {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .subnav-ul {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-left: 0;
        padding: 10px;
        justify-content: center;

        .menu-item {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.sub-menu {
    display: none;
}

.menu-item {
    color: var(--coffin-text-gray);
    font-size: 14px;
    margin-left: 20px;
    &.current-menu-item,
    &:hover {
        color: var(--coffin-hover-color);
    }
}

.site-title {
    line-height: 1;
}

.logo {
    position: relative;
    z-index: 1;
    &--rounded {
        border-radius: 100%;
    }
}

.search-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    .search-submit {
        display: none;
    }

    .search-field {
        border-radius: 999rem;
        border: 0;
        background-color: var(--coffin-background-gray);
        font-size: 12px;
        padding: 6px 25px;
        line-height: 1.8;
        width: 240px;
        color: var(--coffin-text-gray);

        &:focus {
            outline: none;
            color: var(--coffin-text-color);
        }
    }
}
